<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:fragment="admin-headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables-style-couch.css}"/>
</head>
<body>

<!-- NAV -->
<nav th:fragment="admin-navbar">
    <div class="nav-couch">
        <div class="nav-brand-couch">
            <a th:href="@{/}" class="nav-menu-link-couch">
                <img th:src="@{/img/logo_cp.svg}">
            </a>
        </div>
        <ul class="nav-menu-couch">
            <li class="nav-menu-item-couch">
                <a th:href="@{/editDeleteMovie}" class="nav-menu-link-couch">Movies</a>
            </li>
            <li class="nav-menu-item-couch">
                <a th:href="@{/editDeleteActor}" class="nav-menu-link-couch">Actors</a>
            </li>
            <li class="nav-menu-item-couch">
                <a th:href="@{/editDeleteReview}" class="nav-menu-link-couch">Reviews</a>
            </li>
            <li class="nav-menu-item-couch">
                <a th:href="@{/editDeleteUser}" class="nav-menu-link-couch">Users</a>
            </li>
            <li class="nav-menu-item-couch">
                <a th:href="@{/}" class="nav-menu-link-couch">Log off</a>
            </li>
        </ul>
        <div class="hamburger-icon-couch" id="hamburger-icon-couch">
            <span class="hamburger-line-couch"></span>
            <span class="hamburger-line-couch"></span>
            <span class="hamburger-line-couch"></span>
        </div>
    </div>
</nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:fragment="admin-side-nav">
    <div id="side-nav-couch" class="side-nav-couch">
        <h3 class="side-nav-header-couch">MENU</h3>
        <ul class="side-nav-menu-couch">
            <li class="side-nav-item-couch">
                <a th:href="@{/editDeleteMovie}" class="side-nav-link-couch">Movies</a>
            </li>
            <li class="side-nav-item-couch">
                <a th:href="@{/editDeleteActor}" class="side-nav-link-couch">Actors</a>
            </li>
            <li class="side-nav-item-couch">
                <a th:href="@{/editDeleteReview}" class="side-nav-link-couch">Reviews</a>
            </li>
            <li class="side-nav-item-couch">
                <a th:href="@{/editDeleteUser}" class="side-nav-link-couch">Users</a>
            </li>
            <li class="side-nav-item-couch">
                <a th:href="@{/}" class="side-nav-link-couch">Log off</a>
            </li>
        </ul>
    </div>
</aside>
<!-- END OF SIDE-NAV -->

</footer>

</body>
</html>

