<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="eng">
<head>
    <block th:fragment="bootstrap">
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </block>
</head>
<body>


<footer th:fragment="footerfiles">
    <!-- JS TOGGLER - NAVBAR/SIDE-NAV -->
    <script type="text/javascript" th:src="@{/js/nav-toggler.js}"></script>
</footer>
</body>
</html>