body {
    background-color: #000;
    color: #fff;
}

.table-wrapper-couch {
    margin-top: 4em;
}

#form-btns-couch{
    display: flex;
}
#edit-btn-couch{
    padding: 0.2rem;
}
#delete-btn-couch{
    padding: 0.2rem;
}
