.profile-container {
    background-color: #1e1e1e;
    opacity: 0.7;
    padding: 20px;
    color: white;
}
.image-side{
    width: 100%;
    padding: 10px;
}
.image-side .profile-title{
    vertical-align: bottom;
}
.image-side .profile-photo{
    width: 50%;
}
.image-side .profile-trailer{
    padding: 10px;
    opacity: 0.8;
    background-color: #ffff00;
}
.image-side ul {
    list-style-type: none;
    display: inline;
    }

.image-side li {
    float: left;
    padding: 16px;
}
.summary-side{
    width: 50%;
    background-color: #00001a;
    opacity: 0.9;
    padding: 20px;
}
