<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CouchPotato | Admin - Add Movie</title>
    <!--/*/ <th:block th:include="/fragments/admin-general.html :: admin-headerfiles">
        /*/ <th:block th:include="/fragments/general.html :: bootstrap"></th:block> /*/
    </th:block> /*/-->
</head>
<body>

<!-- NAV -->
<nav th:insert="/fragments/admin-general.html :: admin-navbar"> </nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/admin-general.html :: admin-side-nav"></aside> <br><br><br><br>
<!-- END OF SIDE-NAV -->

<div class="wrapper-couch">
    <div class="text-center">
        <h1 class="pb-2">Add new Movies to your library</h1>
        <form action="#" th:action="@{/addingMovie}" th:object="${movie}" method="post">

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie ID</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_id}" th:value="${movie.movie_id}"
                       readonly/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Title</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_title}"
                       placeholder="Example: The Gladiator"/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Summary</p>
                <textarea class="col-md-4 text-center" type="text" th:field="*{movie_summary}"
                          placeholder="Example: Set in Roman times, the story of a once-powerful general forced to become a common gladiator. The emperor's son is enraged when he is passed over as heir in favour of his father's favourite general."/></textarea>
            </div>


            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Duration</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_duration}"
                       placeholder="Example: 151 minutes"/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Release-Date</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_releaseDate}"
                       placeholder="Example: 12/05/2000"/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Genre</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_genre}"
                       placeholder="Drama, Action, Horror"/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Cover</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_coverImage}"
                       placeholder="Example: URL link here or local path"/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Trailer</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_trailer}"
                       placeholder="Example: URL link here"/>
            </div>


            <br/>
            <input class="btn btn-danger mt-2 mr-2" type="reset" value="Reset"/>
            <input class="btn btn-primary mt-2 ml-2" type="submit" value="Submit"/>
        </form>
    </div>
</div>

<br>
<br>
<br>
<!--/*/ <th:block th:include="/fragments/general.html :: footerfiles">
    </th:block> /*/-->
</body>
</html>
