<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CouchPotato | Admin - Add Review</title>
    <!--/*/ <th:block th:include="/fragments/admin-general.html :: admin-headerfiles">
        /*/ <th:block th:include="/fragments/general.html :: bootstrap"></th:block> /*/
    </th:block> /*/-->
</head>
<body>

<!-- NAV -->
<nav th:insert="/fragments/admin-general.html :: admin-navbar"> </nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/admin-general.html :: admin-side-nav"></aside>
<!-- END OF SIDE-NAV -->


<div class="wrapper-couch">

    <div class="text-center">
        <h1 class="pb-1">Add a new review </h1>
        <form action="#" th:action="@{/addingReview}" th:object="${review}" method="post">

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Review Comment</p>
                <input class="col-md-4 text-center" type="text" th:field="*{review_comment}"
                       th:value="${review.review_comment}"/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Review Username</p>
                <input class="col-md-4 text-center" type="text" th:field="*{username}"
                       th:value="${review.username}"/>
            </div>

            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie ID</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_id}"
                       th:value="${review.movie_id}"/>
            </div>
            <div>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Review Rating</p>
                <input class="col-md-4 text-center" type="text" th:field="*{review_rating}"
                       th:value="${review.review_rating}"
                      />
            </div>

            <br/>
            <input class="btn btn-danger mt-2 mr-2" type="reset" value="Reset"/>
            <input class="btn btn-primary mt-2 ml-2" type="submit" value="Submit"/>
        </form>
    </div>
    <br>
    <br>

</div>

<!--/*/ <th:block th:include="/fragments/general.html :: footerfiles">
    </th:block> /*/-->
</body>
</html>