<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>CouchPotato | Admin - Edit/Delete Actors</title>
    <!--/*/ <th:block th:include="/fragments/admin-general.html :: admin-headerfiles">
        /*/ <th:block th:include="/fragments/general.html :: bootstrap"></th:block> /*/
        /*/ <th:block th:include="/fragments/general.html :: datatables"></th:block> /*/
    </th:block> /*/-->

    <!-- DataTables -->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTable_dark.css}"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#actors-table').dataTable({
                "columnDefs": [
                    { "targets": [1, 5], "orderable": false}
                ]
            })
        });
    </script>
    <!-- End of DataTables -->

    <script type="text/javascript">
        function viewActor(value) {
            location.href = "/viewActorDetails?actor_id=" + value;
        }
        function editActor(value) {
            location.href = "/editActor?actor_id=" + value;
        }
        function deleteActor(value) {
            location.href = "/deleteActor?actor_id=" + value;
        }
    </script>

</head>

<!-- NAV -->
<nav th:insert="/fragments/admin-general.html :: admin-navbar"> </nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/admin-general.html :: admin-side-nav"></aside>
<!-- END OF SIDE-NAV -->

<div class="wrapper-couch">
    <table id="actors-table" class="table table-hover table-dark">
        <thead>
        <tr>
            <th>#</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actors:${actor}" th:onclick="'javascript:viewActorDetails(\''+ ${actors.getActor_id()} +'\');'">
            <td th:text="${actors.getActor_id()}"></td>
            <td class="zoom align-left" style="width: 100px; height: auto">
                <img class="img-thumbnail" th:src="${actors.getActor_profilePhoto()}"/></td>
            <td th:text="${actors.getActor_name()}"></td>
            <td th:text="${actors.getActor_gender()}"></td>
            <td th:text="${actors.getActor_age()}"></td>
            <td class="align-middle">
                <div id="form-btns-couch">
                    <button class="btn btn-warning" id="edit" th:onclick="'javascript:editActor(\''+ ${actors.getActor_id()} +'\');'">Edit</button>
                    <button class="btn btn-danger" id="delete" th:onclick="'javascript:deleteActor(\''+ ${actors.getActor_id()} +'\');'">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<br>
<br>
<br>


<!--/*/ <th:block th:include="/fragments/general.html :: footerfiles">
    </th:block> /*/-->
</body>
</html>





