<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Edit/Delete Actors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script type="text/javascript">
        function viewMActorDetails(value) {
            location.href = "/viewMovieDetails?movie_id=" + value;
        }
        function editActor(value) {
            location.href = "/editMovie?movie_id=" + value;
        }
        function deleteActor(value) {
            location.href = "/deleteMovie?movie_id=" + value;
        }
    </script>
</head>
<body>
<div class="wrapper-couch">
    <table class="table table-hover text-center">
        <thead class="thead-dark">
        <tr>
            <th class="align-middle" scope="col">#</th>
            <th class="align-middle" scope="col">Actor Name</th>
            <th class="align-middle" scope="col">Actor Age</th>
            <th class="align-middle" scope="col">Actor Gender</th>
            <th class="align-middle" scope="col">Actor Profile Photo</th>
            <th class="align-middle" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="tbody-light">
        <tbody class="tbody-light">
        <tr th:each="actors :${actor}"th:onclick="'javascript:viewActorDetails(\''+ ${actors.getActor_id()} +'\');'">>
            <td class="align-middle" th:text="${actors.getActor_id()}"></td>
            <td class="align-middle" th:text="${actors.getActor_name()}"></td>
            <td class="align-middle" th:text="${actors.getActor_age()}"></td>
            <td class="align-middle" th:text="${actors.getActor_gender()}"></td>
            <td class="align-middle" th:text="${actors.getActor_profilePhoto()}"></td>
            <td class="align-middle">
                <div id="form-btns-couch">
                    <button class="btn btn-warning" id="edit" th:onclick="'javascript:editActor(\''+ ${actors.getActor_id()} +'\');'">Edit</button>
                    <button class="btn btn-danger" id="delete" th:onclick="'javascript:deleteActor(\''+ ${actors.getActor_id()} +'\');'">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>