<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit/Delete Movie from library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>

<table class="table table-hover text-center">
    <thead class="thead-dark">
    <tr>

        <th class="align-middle" scope="col">#</th>
        <th class="align-middle" scope="col">Movie Title</th>
        <th class="align-middle" scope="col">Movie Duration</th>
        <th class="align-middle" scope="col">Movie Release Date</th>
        <th class="align-middle" scope="col">Movie Genre</th>

    </tr>
    </thead>
    <tbody class="tbody-light">
    <tr th:each="movies :${movie}">
        <td class="align-middle" th:text="${movies.getMovie_id()}"></td>
        <td class="align-middle" style="max-width: 25%; width: 25%"><img class="img-thumbnail w-25"
                                                                         th:src="${movies.getMovie_coverImage()}"/></td>
        <td>
            <h5 class="align-middle" th:text="${movies.getMovie_title()}"></h5>
            <p class="align-middle" th:text="${movies.getMovie_duration()}"></p>
        </td>
        <td class="align-middle" th:text="${movies.getMovie_releaseDate()}"></td>
        <td class="align-middle" th:text="${movies.getMovie_genre()}"></td>
    </tr>
    </tbody>
</table>
<div class="container text-center">

    <form action="#" th:action="@{/updateMovie}" th:object="${movie}" method="post">
        <p>Enter the ID of the Movie to Edit</p>
        <p>Book ID: <input type="text" th:field="*{movie_id}"/></p>
        <input class="btn btn-warning" type="submit" value="Edit Movie"/>
    </form>
    <form action="#" th:action="@{/deleteMovie}" th:object="${movie}" method="post">
        <p>Enter the ID of the Movie you would like to Delete</p>
        <p>Book ID: <input type="text" th:field="*{movie_id}"/></p>
        <input class="btn btn-danger" type="submit" value="Delete Movie"/>
    </form>
</div>

<div class="container text-center mt-3">
    <a class="btn btn-success" href="/">Back To Homepage</a>
</div>

</body>

</html>
