<!DOCTYPE html>
<html lang="eng">
<head>
    <title>CouchPotato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/home_styles.css">
</head>
<body>
<!-- NAV -->
<div class="nav">
    <h2 class="nav-brand">
        <img src="assets/img/logo_cp.svg">
    </h2>
    <ul class="nav-menu">
        <li class="nav-menu-item">
            <a href="#" class="nav-menu-link">Home</a>
        </li>
        <li class="nav-menu-item">
            <a href="#" class="nav-menu-link">Reviews</a>
        </li>
        <li class="nav-menu-item">
            <a href="#" class="nav-menu-link">Log in</a>
        </li>
        <li class="nav-menu-item">
            <a href="#" class="nav-menu-link">Sign up</a>
        </li>
    </ul>
    <div class="hamburger-icon" id="hamburger-icon">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </div>
</div>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<div id="side-nav" class="side-nav">
    <h3 class="side-nav-header">MENU</h3>
    <ul class="side-nav-menu">
        <li class="side-nav-item">
            <a href="#" class="side-nav-link">Reviews</a>
        </li>
        <li class="side-nav-item">
            <a href="#" class="side-nav-link">Log in</a>
        </li>
        <li class="side-nav-item">
            <a href="#" class="side-nav-link">Sign up</a>
        </li>
    </ul>
</div>
<!-- END OF SIDE-NAV -->

<div id="header" class="header">
    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
                <h1>Movie reviews from people who live on the couch</h1>
                <button>View More</button>
            </div>
        </div>
        <video autoplay muted loop src="assets/media/testing_video.mp4"></video>
    </div>
</div> <!-- END OF HEADER -->


<script type="text/javascript" src="../js/toggler.js"></script>
</body>
</html>