<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CouchPotato | Movie Reviews</title>
    <!--/*/ <th:block th:include="/fragments/user-general.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>

<!-- NAV -->
<nav th:insert="/fragments/user-general.html :: navbar"> </nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/user-general.html :: side-nav"></aside>
<!-- END OF SIDE-NAV -->

<div class="wrapper-couch">
<!-- HEADER -->
    <div id="header-couch" class="header-couch">
        <div id="video-container-couch">
            <div class="video-overlay-couch"></div>
            <div class="video-content-couch">
                <div class="inner-couch">
                    <h1>Movie reviews from people who live on the couch</h1>
                    <button>View More</button>
                </div>
            </div>
            <video autoplay muted loop th:src="@{http://hakunas.000webhostapp.com/hakunas_video_bg.mp4}"></video>
        </div>
    </div> <!-- END OF HEADER -->
</div>


<!--/*/ <th:block th:include="/fragments/general.html :: footerfiles">
    </th:block> /*/-->
</body>
</html>