<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>CouchPotato | Admin - List Actors</title>
    <!--/*/ <th:block th:include="/fragments/admin-general.html :: admin-headerfiles">
    </th:block> /*/-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/movies-table-style.css}"/>

    <!-- DataTables -->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTable_dark.css}"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#actors-table').dataTable({
                "columnDefs": [
                    { "targets": [1, 5], "orderable": false}
                ]
            })
        });
    </script>
    <!-- End of DataTables -->

</head>
<br>

<!-- NAV -->
<nav th:insert="/fragments/admin-general.html :: admin-navbar"> </nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/admin-general.html :: admin-side-nav"></aside>
<!-- END OF SIDE-NAV -->

<br>

<div class="movies-table-wrapper">
    <table id="actors-table" class="table table-hover table-dark">
        <thead>
        <tr>
            <th>#</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actors:${actor}">
            <td th:text="${actors.getActor_id()}"></td>
            <td class="zoom align-left" style="width: 100px; height: auto">
                <img class="img-thumbnail" th:src="${actors.getActor_profilePhoto()}"/></td>
            <td th:text="${actors.getActor_name()}"></td>
            <td th:text="${actors.getActor_gender()}"></td>
            <td th:text="${actors.getActor_age()}"></td>
            <td id="form-btns-couch" class="align-middle">
                <div>
                <form id="edit-btn-couch" action="#" method="post">
                    <!--<input type="text" th:field="*{movie_id}" th:attr="value = ${movies.getMovie_id()}"/>-->
                    <input  class="btn btn-warning" type="submit" value="Edit"/>
                </form>
                </div>
                <div>
                    <form id="delete-btn-couch" action="#" method="post">
                        <!--<input type="text" th:field="*{movie_id}" th:attr="value = ${movies.getMovie_id()}"//>-->
                        <input  class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<br>
<br>
<br>

<!--<div class="container text-center">-->
<!--<a class="btn btn-success" th:href="@{/admin}">Back To Admin</a>-->
<!--</div>-->

</body>
</html>





