<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CouchPotato - View Movie Details</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/profile-layout.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/movieDetails-styles.css}"/>
    <!--/*/ <th:block th:include="/fragments/admin-general.html :: admin-headerfiles">
            /*/ <th:block th:include="/fragments/general.html :: bootstrap"></th:block> /*/
        </th:block> /*/-->
</head>
<body>

<!-- NAV -->
<nav th:insert="/fragments/general.html :: navbar"></nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/general.html :: side-nav"></aside>
<!-- END OF SIDE-NAV -->

<div class="wrapper">
    <header class="header">
        <h2 th:text="${movie.movie_title}"></h2>
        <p th:text="${movie.movie_genre}"></p>
    </header>
    <aside class="aside">
        <img th:src="${movie.movie_coverImage}">
    </aside>
    <article class="main">
        <h5>Info</h5>
        <p th:text="${'Release Date: ' + movie.movie_releaseDate}"></p>
        <p th:text="${'Duration: ' + movie.movie_duration}"></p>
        <br>
        <h5>Cast</h5>
        <br>
        <h5>Summary</h5>
        <p th:text="${movie.movie_summary}"></p>
        <!--iframe th:src="${movie.movie_trailer}"></iframe-->
    </article>
</div>
<footer class="footer">
    <h5>Reviews</h5>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th>Username</th>
            <th>Rating</th>
            <th>Review Date</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody th:each="review:${reviews}">
        <tr>
            <td th:text="${review.username}"></td>
            <i>
                <th th:text="${review.review_rating} +'/5'"></th>
            </i>
            <td th:text="${review.review_date}"></td>
            <td th:text="${review.review_comment}"></td>
        </tr>
        </tbody>
    </table>
</footer>

<!--/*/ <th:block th:include="/fragments/general.html :: footerfiles">
    </th:block> /*/-->
</body>
</html>

