<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>CouchPotato - Movie Reviews</title>
    <!--<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTable_dark.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/movies-table-style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-styles.css}"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#movies-table').DataTable();
        } );
    </script>
</head>

<style>
    .zoom {
        padding: 50px;
        transition: transform .2s; /* Animation */
        width: 200px;
        height: 200px;
        margin: 60px auto;
    }



    .zoom:hover {
        transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }



    html {
        scroll-behavior: smooth;
    }
</style>




<body>
<!-- NAV -->
<nav th:insert="/fragments/user-general.html :: navbar"> </nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/user-general.html :: side-nav"></aside>
<!-- END OF SIDE-NAV -->

<br>

<!-- TABLE -->
<div class="movies-table-wrapper">
<table id="movies-table" class="table table-hover table-dark">
    <thead>
    <tr>
        <th>Cover</th>
        <th>Movie Title</th>
        <th>Duration</th>
        <th>Genre</th>
        <th>Release Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movies:${movie}">
        <td class="zoom align-left" style="width: 100px;">
            <img class="img-thumbnail" th:src="${movies.getMovie_coverImage()}"/></td>
        <td th:text="${movies.getMovie_title()}"></td>
        <td th:text="${movies.getMovie_duration()}"></td>
        <td th:text="${movies.getMovie_genre()}"></td>
        <td th:text="${movies.getMovie_releaseDate()}"></td>
    </tr>
    </tbody>
</table>
</div>
<!-- END OF TABLE -->

<div class="container text-center">
    <a class="btn btn-success" href="/">Back To Homepage</a>
</div>
<script type="text/javascript" th:src="@{/js/nav-toggler.js}"></script>
</body>
</html>