<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Single movie</title>
</head>

<body>

<!-- NAV -->
<nav th:insert="/fragments/user-general.html :: user-navbar"> </nav>
<!-- END OF NAV -->

<!-- SIDE-NAV -->
<aside th:insert="/fragments/user-general.html :: user-side-nav"></aside>
<!-- END OF SIDE-NAV -->
<div id="table-wrapper-couch">
    <div class="text-center">
        <h1>Placeholder for Single Movie</h1>
    </div>
</div>

<br>
<br>
<br>

<!--/*/ <th:block th:include="/fragments/general.html :: footerfiles">
    </th:block> /*/-->
</body>
</html>
